<div ng-message="required">* required</div>
<div ng-message="minlength">Input too short</div>
<div ng-message="email">Input must be a valid email</div>
<div ng-message="imatch">Le due password non coincidono</div>
<div ng-message="errcredential">Nome utente o password errati</div>
<div ng-message="errEmailNotPres">Questo utente non risulta registrato</div>
<div ng-message="errGenerics">Si è verificato un errore, riprova più tardi</div>
<div ng-message="errPsw">Inserisci una passord più sicura</div>
<div ng-message="errSignup">Le iscrizioni sono momentaneamente chiuse, riprova più tardi</div>
<div ng-message="errUserExist">Questa mail risulta già inserita a sistema</div>
