<div class="windowLogin">

  <form name="loginForm" ng-submit="vm.login()" novalidate>

    <div class="login-avatar">
      <img gravatar-src="vm.credentials.username" gravatar-size="100">
    </div>

    <div class="alert alert-danger" role="alert" ng-show="vm.alertMessage">{{vm.alertMessage}}</div>

    <div class="form-group">
      <input-form ng-name="username"
                  ng-type="text"
                  ng-model="vm.credentials.username"
                  ng-class="form-control"
                  ng-placeholder="Username"
                  ng-required="true"
                  ng-autocomplete="off"
                  ng-trim="true"
                  ng-minlength=""
                  ng-errorstrategy="$touched"
      </input-form>
    </div>

    <div class="form-group">
      <input-form ng-name="password"
                  ng-type="password"
                  ng-model="vm.credentials.password"
                  ng-class="form-control"
                  ng-placeholder="Password"
                  ng-required="true"
                  ng-autocomplete="off"
                  ng-trim="false"
                  ng-minlength=""
                  ng-maxlength="20"
      </input-form>
    </div>


    <div>
      <button class="btn btn-orange" ng-disabled="progress">Login</button>
      <a ui-sref="password-reset" class="forgotPassword">Hai dimenticato la password?</a>
    </div>

  </form>


</div>
